@charset "UTF-8";
/* リセットcss */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* リセットcss */
@media screen and (min-width: 1024px) {
  .header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    margin-bottom: 80px; }
    .header__image {
      display: grid;
      grid-template-rows: 90px 1fr; }
      .header__image__item1 {
        display: grid;
        justify-content: center;
        align-items: center; }
        .header__image__item1 img {
          height: 30px; }
      .header__image__item2 img {
        width: 100%;
        height: 100%;
        object-fit: scale-down; }

  .news {
    display: grid;
    justify-content: center;
    grid-template-rows: 38px;
    grid-template-columns: 760px;
    margin-bottom: 100px; }
    .news__title {
      text-align: center;
      color: #007BFF;
      font-weight: bold;
      font-size: 32px;
      font-family: Arial; }
    .news__contents__title {
      text-align: center;
      font-size: 13px;
      font-weight: bold;
      font-family: Hiragino Sans; }
    .news__contents div:nth-child(2) {
      padding-top: 30px;
      padding-bottom: 21px; }
    .news__contents__content {
      padding-top: 21px;
      padding-bottom: 21px;
      color: #333333;
      border-bottom: 1px solid #EDEDED; }
      .news__contents__content p {
        display: grid;
        grid-template-columns: 122px 1fr; }

  .concept {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px; }
    .concept__image img {
      width: 100%;
      height: 100%;
      object-fit: scale-down; }
    .concept__text {
      display: grid;
      grid-template-rows: 80px 74px;
      justify-content: center;
      align-content: center;
      align-items: end;
      font-family: Hiragino Sans; }
      .concept__text p:first-child {
        font-size: 36px;
        color: #027BFA; }
      .concept__text p:nth-child(2) {
        font-size: 16px;
        color: #333333; }

  .service {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-rows: 40px 260px 30px 55px;
    margin-bottom: 100px; }
    .service__title {
      color: #007BFF;
      font-size: 32px;
      font-weight: bold;
      font-family: Arial; }
    .service__images {
      display: grid;
      grid-template-rows: 30px 200px 30px;
      grid-template-columns: 350px 350px 350px;
      grid-gap: 0 30px; }
      .service__images__image img {
        width: 100%;
        height: 100%;
        object-fit: scale-down; }
      .service__images__title {
        font-family: Hiragino Sans;
        grid-row: 1 / 2;
        grid-column: 2 / 3; }
      .service__images div:nth-child(2) {
        grid-row: 2 / 3;
        grid-column: 1 / 2; }
      .service__images div:nth-child(3) {
        grid-row: 2 / 3;
        grid-column: 2 / 3; }
      .service__images div:nth-child(4) {
        grid-row: 2 / 3;
        grid-column: 3 / 4; }
    .service__btns {
      grid-row: 4 / 5; }
      .service__btns__btn {
        background-color: #007BFF;
        color: white;
        width: 200px;
        height: 55px;
        border-radius: 30px;
        font-weight: bold;
        line-height: 55px;
        margin: 0 auto; }
        .service__btns__btn a {
          text-decoration: none;
          color: white;
          display: block;
          width: 200px;
          height: 55px; }

  .copyright {
    background-color: #1F1F1F;
    height: 92px;
    color: #7B7B7B;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 12px; } }
@media screen and (max-width: 1024px) {
  .header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    margin-bottom: 50px; }
    .header__image {
      display: grid;
      grid-template-rows: 56px 1fr; }
      .header__image__item1 {
        display: grid;
        justify-content: center;
        align-items: center; }
        .header__image__item1 img {
          height: 23px; }
      .header__image__item2 img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

  .news {
    display: grid;
    justify-content: center;
    grid-template-rows: 38px;
    margin-bottom: 60px;
    padding: 0 18px; }
    .news__title {
      text-align: center;
      color: #007BFF;
      font-weight: bold;
      font-size: 26px;
      font-family: Arial; }
    .news__contents__title {
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      font-family: Hiragino Sans;
      margin-bottom: 20px; }
    .news__contents__content {
      color: #333333;
      border-bottom: 1px solid #EDEDED;
      margin-bottom: 15px;
      padding-bottom: 15px;
      font-size: 14px; }

  .concept {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 60px; }
    .concept__image img {
      width: 100%;
      height: 100%;
      object-fit: scale-down; }
    .concept__text {
      display: grid;
      grid-template-rows: 80px 74px;
      justify-content: center;
      align-content: center;
      align-items: end;
      font-family: Hiragino Sans;
      padding-right: 20px;
      padding-left: 20px; }
      .concept__text p:first-child {
        font-size: 24px;
        color: #027BFA; }
      .concept__text p:nth-child(2) {
        font-size: 15px;
        color: #333333; }

  .service {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-rows: 40px 1fr 0px;
    margin-bottom: 80px; }
    .service__title {
      color: #007BFF;
      font-size: 26px;
      font-weight: bold;
      font-family: Arial; }
    .service__images__image {
      margin-bottom: 30px;
      font-size: 16px;
      font-family: Hiragino sans; }
      .service__images__image img {
        width: 85%;
        object-fit: scale-down;
        margin-bottom: 10px; }
    .service__images__title {
      margin-bottom: 12px;
      font-family: Hiragino Sans;
      font-size: 12px; }
    .service__btns {
      grid-row: 4 / 5; }
      .service__btns__btn {
        background-color: #007BFF;
        color: white;
        width: 200px;
        height: 55px;
        border-radius: 30px;
        font-weight: bold;
        line-height: 55px;
        margin: 0 auto; }
        .service__btns__btn a {
          text-decoration: none;
          color: white;
          display: block;
          width: 200px;
          height: 55px;
          font-size: 14px;
          font-family: Hiragino Sans; }

  .copyright {
    background-color: #1F1F1F;
    height: 62px;
    color: #7B7B7B;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 12px; } }
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important; }

.sp {
  display: none !important; }

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
  .pc {
    display: none !important; }

  .sp {
    display: block !important; } }

/*# sourceMappingURL=styles.css.map */
